<div class="container">
    <div class="first_part">
        <div class="content_right">
           <!--  <h1>
                Bem Vindo
            </h1> -->
            <button mat-raised-button routerLink="/login">
                ENTRAR
            </button>

            <button mat-raised-button routerLink="/register">
                CADASTRAR
            </button>
        </div>

        <div class="slogan_container">
            <span>
                APRENDA
                INGLÊS
                DE
                FORMA
                GRATUITA
            </span>
        </div>
    </div>

    <div class="second_part">
        <div class="content_container" data-aos="fade-right">
            <h1>Nossa plataforma</h1>
            <p>
                Nossa plataforma foi criada com intuito de trazer aprendizado para nossos usuários,
                mas também para a nossa equipe, que desenvolveu tudo com a intenção de aprender cada vez mais 
            </p>
        </div>

        <div class="content_container" data-aos="fade-up">
            <h1>Nossa equipe</h1>
            <p>
                Nosso pequeno time é formado por dois alunos do ensino médio e um professor de inglês, 
                contando com a ajuda de outras pessoas na nossa jornada. <span>Conheça nossa equipe</span>
            </p>
        </div>

        <div class="content_container" data-aos="fade-right">
            <h1>Por que um coala?</h1>
            <p>
               A deixa foi o idealizador do projeto ser australiano, e além do mais,
                alguém não gosta de coalas?
            </p>
        </div>
    </div>
</div>