<div class="container">
    <div class="cards_container">
        <div class="left_side">
            <div class="card">
                <div class="card_title">
                    <h1>JOGOS</h1>
                </div>
                <div class="card_description_container">
                    <div class="icon_container">
                        <mat-icon>sports_esports</mat-icon>
                    </div>
                    <div class="text_container">
                        <p>
                            Lorem isum dolor sit amet Lorem Lorem isum
                            isum dolor sit amet Lorem isum dolor sit amet
                            Lorem isum dolor sit ametLorem isum dolor sit amet
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right_side">
            <div class="card">
                <p>card2</p>
            </div>
        </div>
    </div>

    <div class="user_dashboard">
        <div class="avatar_container">
            <img src="../../../assets/img/AVATAR.jpg" alt="avatar">
        </div>
        <div class="dashboard_content_container">
            <div class="button_container">
                <button mat-icon-button>
                    <mat-icon>settings</mat-icon>
                </button>
                <span>Configurações</span>
            </div>
            <div class="button_container">
                <button mat-icon-button>
                    <mat-icon>forum</mat-icon>
                </button>
                <span>Fale conosco</span>
            </div>
            <div class="button_container">
                <button mat-icon-button>
                    <mat-icon>thumbs_up_down</mat-icon>
                </button>
                <span>Avalie a plataforma</span>
            </div>
            <div class="button_container">
                <button mat-icon-button>
                    <mat-icon>description</mat-icon>
                </button>
                <span>Termos de uso</span>
            </div>
        </div>
    </div>
</div>